<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="container mx-auto">
    <h2 class="text-xl mb-5">All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a href="/blogs/<%= blog._id %> " class="mb-5 block  border-l-4 border-l-pink-500  p-3">
          <h3 class="text-lg font-bold"><%= blog.title %></h3>
          <p class="text-sm"><%= blog.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>